<label
  for="district"
  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
  >District</label
>
<select
  id="mySelect1"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
>
  <option value="" disabled selected>Select District</option>
  <option value="Abbottabad">Abbottabad</option>
  <option value="Astore">Astore</option>
  <option value="Attock">Attock</option>
  <option value="Awaran">Awaran</option>
  <option value="Badin">Badin</option>
  <option value="Bagh">Bagh</option>
  <option value="Bahawalnagar">Bahawalnagar</option>
  <option value="Bahawalpur">Bahawalpur</option>
  <option value="Bajaur">Bajaur</option>
  <option value="Bannu">Bannu</option>
  <option value="Barkhan">Barkhan</option>
  <option value="Batagram">Batagram</option>
  <option value="Bhakkar">Bhakkar</option>
  <option value="Bhimber">Bhimber</option>
  <option value="Buner">Buner</option>
  <option value="Chagai">Chagai</option>
  <option value="Chakwal">Chakwal</option>
  <option value="Charsadda">Charsadda</option>
  <option value="Chiniot">Chiniot</option>
  <option value="Dadu">Dadu</option>
  <option value="Darel">Darel</option>
  <option value="Dera Bugti">Dera Bugti</option>
  <option value="Dera Ghazi Khan">Dera Ghazi Khan</option>
  <option value="Dera Ismail Khan">Dera Ismail Khan</option>
  <option value="Diamer">Diamer</option>
  <option value="Duki">Duki</option>
  <option value="Faisalabad">Faisalabad</option>
  <option value="Ghanche">Ghanche</option>
  <option value="Ghizer">Ghizer</option>
  <option value="Ghotki">Ghotki</option>
  <option value="Gilgit">Gilgit</option>
  <option value="Gujranwala">Gujranwala</option>
  <option value="Gujrat">Gujrat</option>
  <option value="Gupis Yasin">Gupis Yasin</option>
  <option value="Gwadar"></option>
  <option value="Hafizabad">Hafizabad</option>
  <option value="Hangu">Hangu</option>
  <option value="Haripur">Haripur</option>
  <option value="Harnai">Harnai</option>
  <option value="Hattian">Hattian</option>
  <option value="Haveli">Haveli</option>
  <option value="Hunza">Hunza</option>
  <option value="Hyderabad">Hyderabad</option>
  <option value="Islamabad">Islamabad</option>
  <option value="Jacobabad">Jacobabad</option>
  <option value="Jafarabad">Jafarabad</option>
  <option value="Jamshoro">Jamshoro</option>
  <option value="Jhal Magsi">Jhal Magsi</option>
  <option value="Jhang">Jhang</option>
  <option value="Jhelum">Jhelum</option>
  <option value="Kachhi">Kachhi</option>
  <option value="Kalat">Kalat</option>
  <option value="Karachi Central">Karachi Central</option>
  <option value="Karachi East">Karachi East</option>
  <option value="Karachi South">Karachi South</option>
  <option value="Karachi West">Karachi West</option>
  <option value="Karak">Karak</option>
  <option value="Kashmore ">Kashmore</option>
  <option value="Kasur">Kasur</option>
  <option value="Kech">Kech</option>
  <option value="Khairpur">Khairpur</option>
  <option value="Khanewal">Khanewal</option>
  <option value="Kharan">Kharan</option>
  <option value="Kharmang">Kharmang</option>
  <option value="Khushab">Khushab</option>
  <option value="Khuzdar">Khuzdar</option>
  <option value="Khyber">Khyber</option>
  <option value="Killa Abdullah">Killa Abdullah</option>
  <option value="Kohat">Kohat</option>
  <option value="Kohlu">Kohlu</option>
  <option value="Kolai Pallas">Kolai Pallas</option>
  <option value="Korangi">Korangi</option>
  <option value="Kotli">Kotli</option>
  <option value="Kurram">Kurram</option>
  <option value="Lahore">Lahore</option>
  <option value="Lakki Marwat">Lakki Marwat</option>
  <option value="Larkana">Larkana</option>
  <option value="Lasbela">Lasbela</option>
  <option value="Layyah">Layyah</option>
  <option value="Lodhran">Lodhran</option>
  <option value="Loralai">Loralai</option>
  <option
    value="Lower Chitral
  "
  >
    Lower Chitral
  </option>
  <option value="Lower Dir">Lower Dir</option>
  <option value="Lower Kohistan">Lower Kohistan</option>
  <option value="Malakand">Malakand</option>
  <option value="Malir">Malir</option>
  <option value="Mandi Bahauddin">Mandi Bahauddin</option>
  <option value="Mansehra">Mansehra</option>
  <option value="Mardan">Mardan</option>
  <option value="Mastung">Mastung</option>
  <option value="Matiari">Matiari</option>
  <option
    value="Mianwali
  "
  >
    Mianwali
  </option>
  <option value="Mirpur Khas">Mirpur Khas</option>
  <option value="Mirpur">Mirpur</option>
  <option value="Mohmand">Mohmand</option>
  <option value="Multan">Multan</option>
  <option value="Musakhel">Musakhel</option>
  <option value="Muzaffarabad">Muzaffarabad</option>
  <option value="Muzaffargarh">Muzaffargarh</option>
  <option value="Nagar">Nagar</option>
  <option value="Nankana Sahib">Nankana Sahib</option>
  <option value="Narowal">Narowal</option>
  <option value="Naseerabad">Naseerabad</option>
  <option value="Naushahro Firoze">Naushahro Firoze</option>
  <option value="Neelum">Neelum</option>
  <option value="North Waziristan">North Waziristan</option>
  <option value="Nowshera">Nowshera</option>
  <option value="Nushki">Nushki</option>
  <option value="Okara">Okara</option>
  <option
    value="Orakzai
  "
  >
    Orakzai
  </option>
  <option value="Pakpattan">Pakpattan</option>
  <option value="Panjgur">Panjgur</option>
  <option value="Peshawar">Peshawar</option>
  <option value="Pishin">Pishin</option>
  <option value="Poonch">Poonch</option>
  <option value="Qambar Shahdadkot">Qambar Shahdadkot</option>
  <option value="Qilla Saifullah">Qilla Saifullah</option>
  <option value="Quetta">Quetta</option>
  <option value="Rahim Yar Khan">Rahim Yar Khan</option>
  <option value="Rajanpur">Rajanpur</option>
  <option value="Rawalpindi">Rawalpindi</option>
  <option value="Roundu">Roundu</option>
  <option value="Sahiwal">Sahiwal</option>
  <option value="Sanghar">Sanghar</option>
  <option value="Sargodha">Sargodha</option>
  <option value="Shaheed Benazirabad">Shaheed Benazirabad</option>
  <option value="Shaheed Sikandarabad">Shaheed Sikandarabad</option>
  <option value="Shangla">Shangla</option>
  <option value="Sheikhupura">Sheikhupura</option>
  <option value="Sherani">Sherani</option>
  <option value="Shigar">Shigar</option>
  <option value="Shikarpur">Shikarpur</option>
  <option value="Sialkot">Sialkot</option>
  <option value="Sibi">Sibi</option>
  <option value="Skardu">Skardu</option>
  <option value="Sohbatpur">Sohbatpur</option>
  <option value="South Waziristan">South Waziristan</option>
  <option value="Sudhnutti">Sudhnutti</option>
  <option value="Sujawal">Sujawal</option>
  <option
    value="Sukkur
  "
  >
    Sukkur
  </option>
  <option value="Swabi">Swabi</option>
  <option value="Swat">Swat</option>
  <option value="Tando Allahyar">Tando Allahyar</option>
  <option value="Tando Muhammad Khan">Tando Muhammad Khan</option>
  <option value="Tangir">Tangir</option>
  <option value="Tank">Tank</option>
  <option value="Tharparkar">Tharparkar</option>
  <option value="Thatta">Thatta</option>
  <option value="Toba Tek Singh">Toba Tek Singh</option>
  <option value="Tor Ghar">Tor Ghar</option>
  <option value="Umerkot">Umerkot</option>
  <option value="Upper Chitral">Upper Chitral</option>
  <option value="Upper Dir">Upper Dir</option>
  <option value="Upper Kohistan">Upper Kohistan</option>
  <option value="Vehari">Vehari</option>
  <option value="Washuk">Washuk</option>
  <option value="Zhob">Zhob</option>
  <option value="Ziarat">Ziarat</option>
</select>
