<div>
  <div class="bg-white p-5 shadow-2xl rounded border border-black m-2">
    <div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Name:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#name</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Father Name:</strong
        >&nbsp;
        <span class="text-sm font-medium text-gray-900">#fname</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Cnic:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#cnic</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Address:</strong
        >&nbsp;
        <span class="text-sm font-medium text-gray-900">#address</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Email:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#email</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Contact:</strong
        >&nbsp;
        <span class="text-sm font-medium text-gray-900">#contact</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Gender:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#gender</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">DOB:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#dob</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Province:</strong
        >&nbsp;
        <span class="text-sm font-medium text-gray-900">#province</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">City:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#city</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">District:</strong
        >&nbsp;
        <span class="text-sm font-medium text-gray-900">#district</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Union Council:</strong
        >&nbsp;
        <span class="text-sm font-medium text-gray-900">#uc</span>
      </div>
      <div>
        <strong class="text-sm font-medium text-blue-700">Ward:</strong>&nbsp;
        <span class="text-sm font-medium text-gray-900">#ward</span>
      </div>
    </div>
  </div>
</div>
